*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body, main{
    width: 100vw;
}

header{
    width: 80vw;
    margin: 5vh auto;
}

#logoWrapper{
    display: block;
    width: 20vw;
    margin: 0 auto;
}

#logo{
    width:  100%;
}

#submitForm{
    display: block;
    margin: 2vh 0;
}

select, .selectTitle, input{
    display: block;
    width: 60%;
    margin: 0 auto;
}

button{
    display: block;
    width: 30%;
    margin: 0 auto;
}

select,.selectTitle, input, button{
    margin-top: 2vh;
    font-size: 1.3em;
}

#submitInput{
    width: 100%;
}

.colorValue, .bgColorValue{
    width: 30%;
}

#qrWrapper{
    width: 100%;
    display: block;
    margin: 0 auto;
}

#qrCode{
    width: 100%;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer ul{
    display: block;
    width: 80vw;
    margin: 0 auto;
}

footer li{
    display: inline;
}

